.centered{
  display: block;
  width: 544px;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
}
.readOnly{
  border: none;
  outline: none;
  box-shadow: none;
}
.fltRight{
  float: right; 
}
.itemGroup{
  display: inline-block;
  padding: 10px 5px;
}
label{
  width: 75px;
}
.buttonGroup{
  margin-top: 20px;
}
.accordion{
  margin-top: 20px;
  border: 1px solid #e3e3e3;
}